{% extends 'base.html' %}
{% block expenseActive %}active{% endblock expenseActive %}
{% block css %}
<style>
  @media only screen and (min-width: 768px) {
            /* tablets and desktop */
        }

        @media only screen and (max-width: 767px) {
            /* phones */
            body{
              font-size: 1rem;
            }
        }

        @media only screen and (max-width: 767px) and (orientation: portrait) {
            /* portrait phones */
            
        }
</style>
{% endblock css %}

{% block body %}

{% endblock body %}
{% block js %}
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }

    // search product
    function update() {
        let typeInput=document.getElementById('type');
        let els=document.getElementsByClassName('dropdown-item');
        for(var i = 0; i < els.length; i++){
          console.log(els[i])
          if (els[i].innerHTML.search(new RegExp(typeInput.value, "i"))!=-1) {
            els[i].style.display='';
          }else{
            els[i].style.display='none';
          }
        }
        console.log(typeInput.value);
      }

        function updateTypeInput(id,type) {
          let typeInput=document.getElementById('type');
          typeInput.value=type;
        }

    </script>
{% endblock js %}