{% extends 'base.html' %}
{% block homeActive %}active{% endblock homeActive %}
{% block css %}
<style>
    #msg{
        height: 80%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Anton', sans-serif;
        font-family: 'Mochiy Pop P One', sans-serif;
    }
    /* h1 {
    font-size: clamp(16px, 5vw, 34px);
    } */
</style>
{% endblock css %}
{% block body %}
<div class="container-fluid" id="msg">
    <div>
          <h1 class="text-center">Welcome To DART</h1>
          <h3 class="text-muted text-center">Data Analysis and Reporting Tool</h3>
        </div>
</div>
{% endblock body %}
{% block js %}
{% endblock js %}