{% extends 'base.html' %}
{% block historyActive %}active{% endblock historyActive %}
{% block css %}
<style>
    .orderDetails{
        border: 2px solid grey;
        border-radius: 10px;
        margin: auto;
    }
      @media only screen and (min-width: 768px) {
        /* tablets and desktop */
    }

    @media only screen and (max-width: 767px) {
        /* phones */
        body{
          font-size:smaller;
        }
        .container{
          width: 100vw !important;
          margin: 0;
        }
        .orderDetails{
          width: 100% !important;
        }
        .row{
          margin: 0;
          width: 100% !important  ;
          padding: 0;
        }
    }

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        /* portrait phones */
        
    }
</style>
{% endblock css %}
{% block body %}

<div class="container">
  <div class="row w-75 mt-2  px-2 py-2 orderDetails" style="border: none;">
    <div class="col-sm-9">
      <div class="input-group" id="date" style="display: none;">
        <input type="date" id="dateSearchInput" class="form-control rounded" aria-label="date" aria-describedby="search-date"/>
        <button type="button" id="dateSearch" onclick=changeUrl(this) class="btn btn-outline-primary">search</button>
      </div>
      <div class="input-group" id="OrderId" style="display: ;">
        <input type="number" id="orderIdSearchInput" class="form-control rounded" placeholder="Enter Order-ID" aria-label="orderId" aria-describedby="search-orderId"/>
        <button type="button" id="orderIdSearch" onclick=changeUrl(this) class="btn btn-outline-primary">search</button>
      </div>
      <div class="input-group" id="phone" style="display: none;">
        <input type="phone" id="phoneSearchInput" class="form-control rounded" placeholder="Enter Customer Number" aria-label="Search" aria-describedby="search-addon"/>
        <button type="button" id="phoneSearch" onclick=changeUrl(this) class="btn btn-outline-primary">search</button>
      </div>
    </div>
    <div class="col-sm">
      <select class="form-select " aria-label="Default select example" id="category" onchange='showSearch(this)'>
        <option selected value="OrderId" >Search By Order ID</option>
        <option value="phone">Search By Customer mobile no.</option>
        <option value="date">Search By Date</option>
    </select>
    </div> 
  </div>
    {% for order in orders %}
    <div class="row w-75 orderDetails my-4 px-2 py-2">
        <div class="row">
        <div class="col-sm"><b>customer Name: </b><span>{{order.customer.name}}</span></div>
        <div class="col-sm"><b>customer phone: </b><span>{{order.customer.phone}}</span></div>
        <div class="col-sm" id="email"><b>customer email: </b><span>{{order.customer.email}}</span></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <b>total: &#x20B9 </b><span>{{order.total}}</span>
            </div>
            <div class="col-sm-4">
              <b>Order Id: </b><span>{{order.id}}</span>
            </div>
            <div class="col-sm-4">
              <b>Time: </b><span>{{order.date_created}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
              <b>Item total: &#x20B9 </b><span>{{order.itemAmount}}</span>
            </div>
            <div class="col-sm-4">
              <b>tax: &#x20B9 </b><span>{{order.taxAmount}}</span>
            </div>
            
        </div>
        <div class="row">
          <div class="col-sm-4"><b>{{order.saleType}}</b></div>
          {% if not order.is_split %}
          <div class="col-sm-4"><b>{{order.payment_method}}</b></div>
          {% endif %}
          <div class="col-sm-4"><b>{{order.orderState}}</b></div>
        </div>
        {% if order.is_split %}
        <div class="row">
          <div class="col-sm-3">
            <b>Amount 1: &#x20B9 </b><span>{{order.payment1}}</span>
          </div>
          <div class="col-sm-3"><b>{{order.payment_method}}</b></div>
          <div class="col-sm-3">
            <b>Amount 2: &#x20B9 </b><span>{{order.payment2}}</span>
          </div>   
          <div class="col-sm-3"><b>{{order.payment_method2}}</b></div>
        </div>
        {% endif %}
        <div class="row mx-0">
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Product Name</th>
                    <th scope="col">price</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                    {% for orderProduct in order.orderProducts.all %}
                  <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{orderProduct.product.name}}</td>
                    <td>&#x20B9 {{orderProduct.product.price}}</td>
                    <td>{{orderProduct.quantity}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>       
        </div>
        <div class="row">
          {% if order.cancel %}
          <a href={% url 'order-cancel' order.id %} class="btn btn-danger mx-2" style="width: 5vw;">Cancel</a>
          {% endif %}
          <a href={% url 'order-invoice' order.id %} class="btn btn-outline-primary mx-2" style="width: 5vw;">print</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}
{% block js %}
<script>
  function changeUrl(element) {
    let searchInput=document.getElementById(`${element.id}Input`);
    console.log(searchInput)
    var url="{% url 'order-history'  %}";
    if (searchInput.value!=""){
      document.location.href = url + "/" + searchInput.parentElement.id + '-' + searchInput.value;
    }else{
      document.location.href = url; 
    }
  }

  var date=document.getElementById('date');
  var phone=document.getElementById('phone');
  var OrderId=document.getElementById('OrderId');
  function showSearch(element) {
    if (element.value=='phone') {
      phone.style.display='';
      date.style.display='none';
      OrderId.style.display='none';
    }else if(element.value=='OrderId'){
      phone.style.display='none';
      date.style.display='none';
      OrderId.style.display='';
    }else if(element.value=='date'){
      phone.style.display='none';
      date.style.display='';
      OrderId.style.display='none';
    }
  }

</script>
{% endblock js %}