{% extends 'base.html' %}
{% block productActive %}active{% endblock productActive %}
{% block body %}
<div class="container">
    <div class="container w-75 my-4">
        <h1>Add Product</h1>
    <form action={% url 'product' %} method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input type="text" name="productName" class="form-control" id="productName" aria-describedby="productName" required>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="price" class="form-control" id="price" required>
        </div>
        <div class="mb-3">
          <label for="qty" class="form-label">qty</label>
          <input type="number" name="qty" class="form-control" id="qty" required>
        </div>
        <div class="mb-3">
          <label for="unit" class="form-label">Unit</label>
          <input type="text" name="unit" class="form-control" id="unit" >
        </div>
        <div class="mb-3">
            <label for="floatingTextarea">description</label>
            <textarea class="form-control" placeholder="Add description" id="description" name="description"></textarea>
        </div>
        
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
    </div>
    <hr>
    <div class="container">
        <h2 class="text-center">Porduct List</h2>
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product Name</th>
                <th scope="col">price</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
                {% for product in products %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.qty}} {{product.unit}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>
{% endblock body %}
{% block js %}
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>
{% endblock js %}