{% extends 'base.html' %}
{% block reportActive %}active{% endblock reportActive %}
{% block css %}
<style>
    .card {
        border-radius: 10px;
        background-color: rgb(70, 136, 236);
        margin: auto;
    }
    #donutChartContainer{
        max-width: 30vw;
    }
    
    @media only screen and (min-width: 768px) {
            /* tablets and desktop */
        }

        @media only screen and (max-width: 767px) {
            /* phones */
            #donutChartContainer{
                max-width: 80vw;
            }
            #paymentMethods{
                font-size: small;
            }
        }

        @media only screen and (max-width: 767px) and (orientation: portrait) {
            /* portrait phones */
            
        }
</style>
{% endblock css %}
{% block body %}
<div class="container">
    {{order}}
    <div class="row my-2 mx-2">
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Today's sale</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{todaySale}}</span></b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Total Sale</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{totalSale}}</span></b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">This Month</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{thisMonthSale}}</span></b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Online Sale</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{onlineSale.total}} ({{onlineSale.count}})</span></b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Offline Sale</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{offlineSale.total}} ({{offlineSale.count}})</span></b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Takeaway</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{takeawaySale.total}} ({{takeawaySale.count}})</span></b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 my-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">Dine in</h5>
                    <p class="text-center text-light"><b class="card-text">Rs. <span>{{dineInSale.total}} ({{dineInSale.count}})</span></b></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-3 my-2" id="paymentMethods">
        <div class="col-sm-8 " style="border: 1px solid rgb(189, 189, 189);border-radius: 10px; height: fit-content;background-color: rgb(179, 179, 179);">
            <div class="row my-2" >
                <div class="col-3 text-end ">Amazon Pay</div>
                <div class="col my-2">
                <div class="progress" >
                    <div class="progress-bar " role="progressbar" style="width: {{paymentMethods.amazonCount}}%;"
                      aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                </div>
                <div class="col-2">Rs. {{paymentMethods.amazonTotal}}</div>
            </div>
            <div class="row my-2">
                <div class="col-3 text-end ">Google Pay</div>
                <div class="col my-2">
                    <div class="progress" >
                        <div class="progress-bar" role="progressbar" style="width: {{paymentMethods.googleCount}}%;"
                          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2">Rs. {{paymentMethods.googleTotal}}</div>
            </div>
            <div class="row my-2">
                <div class="col-3 text-end ">Paytm</div>
                <div class="col my-2">
                    <div class="progress" >
                        <div class="progress-bar" role="progressbar" style="width: {{paymentMethods.paytmCount}}%;"
                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2">Rs. {{paymentMethods.paytmTotal}}</div>
            </div>
            <div class="row my-2">
                <div class="col-3 text-end ">Cash</div>
                <div class="col my-2">
                    <div class="progress" >
                        <div class="progress-bar " role="progressbar" style="width:{{paymentMethods.cashCount}}%;"
                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2">Rs. {{paymentMethods.cashTotal}}</div>
            </div>
            <div class="row my-2">
                <div class="col-3 text-end ">Card</div>
                <div class="col my-2">
                    <div class="progress" >
                        <div class="progress-bar " role="progressbar" style="width:{{paymentMethods.cardCount}}%;"
                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-2">Rs. {{paymentMethods.cardTotal}}</div>
            </div>
            
        </div>
    </div>
    <div class="row mx-2">
        <div class="col my-2">
            <b><span>Enter starting Date</span></b>
            <input class="mt-1" type="date" name="start" id="startDate" max="2018-12-31" oninput="changeEndDate(this)">
        </div>
        <div class="col my-2">
            <b><span>Enter ending Date</span></b>
            <input class="mt-1" type="date" name="start" id="endDate">
        </div>
        <div class="col my-2 pt-1">
            <button class="btn btn-secondary" onclick="getLineBar()">fetch</button>
        </div>
    </div>
    
    <div class="row my-4 mx-2">
        <div class="col-sm-6" id="barChartContainer">
            <canvas id="barChart"></canvas>
        </div>
        <div class="col-sm-6" id="lineChartContainer">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <br>
    <div class="row mx-2">
        <div class="col my-2">
            <b class=""><span>Enter starting Date</span></b>
            <input class="mt-1" type="date" name="start" id="startDateDonutChart" oninput="changeEndDate(this)">
        </div>
        <div class="col my-2">
            <b class=""><span>Enter ending Date</span></b>
            <input class="mt-1" type="date" name="start" id="endDateDonutChart">
        </div>
        <div class="col my-2 pt-1">
            <button class="btn btn-secondary " onclick="getDonut()">fetch</button>
        </div>
    </div>
    <div class="row my-4 mx-2" >
        <div class="col-sm-6" id="donutChartContainer">

            <canvas id="donutChart"></canvas>
        </div>
    </div>
</div>
{% endblock body %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"
    integrity="sha512-TW5s0IT/IppJtu76UbysrBH9Hy/5X41OTAbQuffZFU6lQ1rdcLHzpU5BzVvr/YFykoiMYZVWlr/PX1mDcfM9Qg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    // csrf token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    function getLineBar() {
        let startDate = document.getElementById('startDate').value;
        let endDate = document.getElementById('endDate').value;
        fetch('getOrderSale', {

            method: "POST",
            body: JSON.stringify({
                'start': startDate,
                'end': endDate
            }),
            headers: {
                'X-CSRFToken': csrftoken,
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('barChartContainer').innerHTML = `<canvas id="barChart" width="50" height="35"></canvas>`;
                const ctx = document.getElementById('barChart');
                let Color = randomColorGenerator(data.labels.length);
                // console.log(Color)
                // bar chart
                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Total sales Rs',
                            data: data.data,
                            backgroundColor: Color[0],
                            borderColor: Color[1],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
                document.getElementById('lineChartContainer').innerHTML = `<canvas id="lineChart" width="50" height="35"></canvas>`;
                const ctx1 = document.getElementById('lineChart');
                // line chart
                const myChart2 = new Chart(ctx1, {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Total sales Rs',
                            data: data.data,
                            backgroundColor: Color[0],
                            borderColor: Color[1],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });

            }
            );

    }

    function getDonut() {
        let startDate = document.getElementById('startDateDonutChart').value;
        let endDate = document.getElementById('endDateDonutChart').value;
        fetch('getProductsSale', {
            method: "POST",
            body: JSON.stringify({
                'start': startDate,
                'end': endDate
            }),
            headers: {
                'X-CSRFToken': csrftoken,
                "Content-type": "application/json; charset=UTF-8"
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('donutChartContainer').innerHTML = `<canvas id="donutChart"></canvas>`;
                const ctx2 = document.getElementById('donutChart');
                let Color = randomColorGenerator(data.labels.length);
                const myChart3 = new Chart(ctx2, {
                    type: 'doughnut',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Product Sales',
                            data: data.data,
                            backgroundColor: Color[1],
                            hoverOffset: 4
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            });
    }

    function randomColorGenerator(length) {
        let colorList = [];
        let backgroundColor = []
        let borderColor = []
        for (let i = 0; i < length; i++) {
            var r = () => Math.random() * 256 >> 0;
            let r1 = r();
            let r2 = r();
            let r3 = r();
            var color = `rgb(${r1}, ${2}, ${r3},${0.2})`;
            var color1 = `rgb(${r1}, ${2}, ${r3},${1})`;
            backgroundColor.push(color);
            borderColor.push(color1)
        }
        colorList.push(backgroundColor);
        colorList.push(borderColor);
        return colorList;
    }

    function changeEndDate(element) {
        if (element.id == 'startDate') {
            let startDate = document.getElementById('startDate');
            let endDate = document.getElementById('endDate');
            endDate.setAttribute('min', startDate.value)
        } else {
            let startDate = document.getElementById('startDateDonutChart');
            let endDate = document.getElementById('endDateDonutChart');
            endDate.setAttribute('min', startDate.value)
        }


    }
    window.onload = function () {
        let d = new Date();
        d.setDate(d.getDate() - 5);
        let start = d.toISOString().slice(0, 10);
        let end = new Date().toISOString().slice(0, 10);
        console.log(start);
        console.log(end)
        let startDate = document.getElementById('startDate');
        startDate.setAttribute('max', new Date().toLocaleDateString('en-ca'));
        startDate.value = start;
        let endDate = document.getElementById('endDate');
        endDate.setAttribute('max', new Date().toLocaleDateString('en-ca'));
        endDate.value = end;
        let startDate1 = document.getElementById('startDateDonutChart');
        startDate1.setAttribute('max', new Date().toLocaleDateString('en-ca'));
        startDate1.value = start;
        let endDate1 = document.getElementById('endDateDonutChart');
        endDate1.setAttribute('max', new Date().toLocaleDateString('en-ca'));
        endDate1.value = end;
        getDonut();
        getLineBar()
    }

</script>
{% endblock js %}